deb http://repo.zabbix.com/zabbix/{{ zabbix_agent_version }}/ubuntu {{ ansible_lsb.codename }} main
deb-src http://repo.zabbix.com/zabbix/{{ zabbix_agent_version }}/ubuntu {{ ansible_lsb.codename }} main
